<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for signing up for Blocmetrics!</h1>
    <p>
      <%= @user.email %> has signed up for Blocmetrics.
    </p>
  </body>
</html>